@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    background-color: #FAFAFA;
}

div::-webkit-scrollbar {
    width: 4px;
}

div::-webkit-scrollbar-track {
    background: #F0F0F0;
}

div::-webkit-scrollbar-thumb {
    background-color: #abceff;
    border-radius: 4px;
}

div::-webkit-scrollbar-thumb:hover {
    background-color: #ddebff;
}